@model VolunteerManagement.Domain.Entities.Activity

<h1>¿Estás seguro de que quieres eliminar esta actividad?</h1>
<p>Nombre: @Model.Name</p>
<p>Descripción: @Model.Description</p>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a href="@Url.Action("Index", "Activities")" class="btn btn-secondary">Cancelar</a>
</form>
